# Week-1

In [1]:
# single line comments
'''This is a multi-line comments
in python programming'''

'This is a multi-line comments\nin python programming'

In [3]:
x = 10 # x is called a variable

print('The value of x :',x)

# The properties of variables are: name, value, type

print('The datatype of x :',type(x))

The value of x : 10
The datatype of x : <class 'int'>

In [6]:
# Number, String & Bool

# Numeric datatypes of python : int,float,complex

x = 15.12

print('The value of x :',x)

print('The datatype of x :',type(x))

The value of x : 15.12
The datatype of x : <class 'float'>

In [7]:
# complex number

y = 4 + 5j # complex number a + bj

print('The value of y :',y)

print('The datatype of y :',type(y))

The value of y : (4+5j)
The datatype of y : <class 'complex'>

In [11]:
# String Datatypes

str1 = 'Good Morning'

str2 = "Good Morning"

str3 = '''Good 
         Morning'''

print('The string str1 :',str1)

print('The string str2 :',str2)

print('The string str3 :',str3)

print('The datatypes of str1,str2,str3 :',type(str1),type(str2),type(str3))

The string str1 : Good Morning
The string str2 : Good Morning
The string str3 : Good
         Morning
The datatypes of str1,str2,str3 : <class 'str'> <class 'str'> <class 'str'>

In [14]:
# Bool type

flag1 = True

print('The value of flag1 :',flag1)

print('The datatype of flag1 :',type(flag1))

flag1 = False

print('The changed value of flag1 :',flag1)

The value of flag1 : True
The datatype of flag1 : <class 'bool'>
The changed value of flag1 : False

In [15]:
# Arithmetic Operators 


x = 10

print(x)

x = x + 2 # Addition

print(x)

10
12

In [16]:
y = 3

z = x - y # Minus or Subtraction 

print(z)

9

In [17]:
a = x * y # Multiplication

print(a)

36

In [20]:
b = x / y # Division with decimel values 

print(b)

4.0

In [21]:
b1 = x // y # Division without decimel values

print(b1)

4

In [22]:
c = x ** y # Power (12 power 3 = 1728)

print(c)

1728

In [24]:
d = x % y # Modulo Operator (Reminder of 12/3 = 0)

print(d)

e = 15 % 2 # Reminder of (15/2 is 1)

print(e)

# a,b,c,d,x,y these are all operands and +,-,*,/,%, these are all binery operators

0
1

In [26]:
# Unary Operators 

x = 10 

y = -x

print(y) # + * - becomes -

z = -y

print(z) # - * - becomes +

-10
10

# PEMDAS Rule


### Paranthesis, Exponent, (Multiplication, Division), (Addition and Subtraction)

In [28]:
x = 10

y = 15

z = 20

res = x + y * z # Multiplication happens first then addition

print(res)

Res = x -y + z # starts from left side 

print(Res)

310
15

In [29]:
# Assignment Opeartors =,+=,-=,*=,/=,**=,//=,%=

x = 10

y = x

print('Value of x :',x,'Value of y :',y)

Value of x : 10 Value of y : 10

In [33]:
x += 2 # x = x + 2 

print(x)

13

In [34]:
x -= 5 # x = x - 5

print(x)

8

In [35]:
x *= 2 # x = x * 2 

print(x)

16

In [36]:
x /= 4 # x = x / 4 

print(x)

4.0

In [38]:
x %= 2 # x = 4 % 2 

print(x)

y = x + 10

print(y)

0.0
10.0

In [39]:
y //= 2 # y = y // 2

print(y)

5.0

In [40]:
y **= 2 # y = y ** 2

print(y)

25.0

# Input Statement

In [43]:
str1 = input('Enter the str1:')

print(str1)

Enter the str1:Hi Team
Hi Team

In [46]:
# Accepts two number from the user and find their sum

num1 = int(input('First num :'))

num2 = int(input('Second num :'))

res = num1 + num2

res1 = float(num1 + num2)

print(res)
print(res1)

First num :15
Second num :25
40
40.0

In [50]:
# Calculate area & circumference of a circle by accepting radius as input

radius = float(input('Radius of the circle :'))

area = 3.14 * (radius * radius)

circumference = 2 * 3.14 * radius

print('The area of the circle :',area)

print('The circumference of the circle :',circumference)

Radius of the circle :15
The area of the circle : 706.5
The circumference of the circle : 94.2

In [53]:
# Arithmetic Operations on Complex Numbers 

a = 3 + 5j

b = 10 - 3j

c = a - b

d = a + b

print(c)

print(d)

(-7+8j)
(13+2j)

# Week-2

In [2]:
str1 = 'Hello World'

str2 = "Good Morning Students "

str3 = '''Welcome to the Week 2 
          Python Programming,
          Lets start the session'''

print('The string str1 :',str1)

print('The string str2 :',str2)

print('The string str3 :',str3)

print('The datatypes of str1,str2,str3 :',type(str1),type(str2),type(str3))

The string str1 : Hello World
The string str2 : Good Morning Students
The string str3 : Welcome to the Week 2
          Python Programming,
          Lets start the session
The datatypes of str1,str2,str3 : <class 'str'> <class 'str'> <class 'str'>

In [5]:
# Concatenation 

str1 = 'Good'

str2 = ' Day'

str3 = str1 + str2

print(str3)

print('Hello '+'World')

Good Day
Hello World

In [8]:
# len

print('The length of str3 :',len(str3))

print('The length of Hello is :',len('Hello'))

The length of str3 : 8
The length of hello is : 5

In [10]:
# Accessing Sting Characters & String Slicing

print(str3)

print('The third character of str3 :',str3[2])

print('The sixth character of str3 :',str3[5])

# Accessing a grgoup of characters 

my_string = 'Hello World'

print(my_string[4])

print(my_string[1:5])

print(my_string[:4])

print(my_string[4:])

print(my_string[:])

Good Day
The third character of str3 : o
The sixth character of str3 : D
o
ello
Hell
o World
Hello World

In [12]:
# Repeat

str4 = '#' * 10

print(str4)

print('Hello' * 5)

##########
HelloHelloHelloHelloHello

In [17]:
# Split Opeartion

string_1 = " Welcome, to the exciting world, of python programming"

print('Source string_1 :',string_1)

print('Split the comma :',string_1.split(','))

string_2 = " Welcome : to the exciting world : of python programming"

print('Split using colon :',string_2.split(':'))

print('Split using spaces :',string_1.split(' '))

Source string_1 :  Welcome, to the exciting world, of python programming
Split the comma : [' Welcome', ' to the exciting world', ' of python programming']
Split using colon : [' Welcome ', ' to the exciting world ', ' of python programming']
Split using spaces : ['', 'Welcome,', 'to', 'the', 'exciting', 'world,', 'of', 'python', 'programming']

In [18]:
# count

my_string = 'Count ther number of spaces'

print('No of spaces in my_string :',my_string.count(' '))

print("No of 'a' in my_string :",my_string.count('a'))

No of spaces in my_string : 4
No of 'a' in my_string : 1

In [19]:
# Replace

welcome_message = 'Hello World'

str1 = welcome_message.replace('Hello','Bye')

print('welcome_message :',welcome_message)

print('str1 :',str1)

welcome_message : Hello World
str1 : Bye World

In [21]:
# Find

str1 = 'Welcome, to the exciting world, of python programming'

print('str1 :',str1.find('to'))

print('str1 :',str1.find('python'))

print('str1 :',str1.find('Java'))

print('str1 :',str1.find('Bye'))

str1 : 9
str1 : 35
str1 : -1
str1 : -1

In [23]:
# String comparison operation

str1 = 'James'

str2 = 'John'

print(str1 == str2)

print(str1 != str2)

False
True

In [43]:
str1 = 'Hello World!'

print('The string is :',str1)

# Starts with operation

print("str1 startswith('H'):",str1.startswith('H'))

print("str1 startswith('h'):",str1.startswith('h'))

# Ends with 

print("str1 ends with 'd' :",str1.endswith('d'))

print("str1 ends with '!' :",str1.endswith('!'))

#istitle

print("str1 istitle :",str1.istitle())

str2 = 'Hello world'

print("str2 istitle :",str2.istitle())

# isupper, islower

print("str1 is upper :",str1.isupper())

print("str1 is lower :",str1.islower())

str2 = 'helloworld'

str3 = 'HELLOWORLD'

print("str2 is lower :",str2.islower())

print("str3 is upper :",str3.isupper())

# isalpha - shoud not contain a special character

print('str1 is alpha :',str1.isalpha())

print('str2 is alpha :',str2.isalpha())

print('str3 is alpha :',str3.isalpha())

# upper, lower

print( 'str2 :',str2)

print('str2 :',str2.upper())

print('str3 :',str3)

print('str3 :',str3.lower())

# title - Every new word 1st letter converted into upper case

str2 ='hello world'

print("str2.title :",str2.title())

# Swapcase

str3 = 'Good Day'

print('str3 swapcase :',str3.swapcase())

# strip

str2 ="    Hello World     "

print('str2 :',str2.strip())

The string is : Hello World!
str1 startswith('H'): True
str1 startswith('h'): False
str1 ends with 'd' : False
str1 ends with '!' : True
str1 istitle : True
str2 istitle : False
str1 is upper : False
str1 is lower : False
str2 is lower : True
str3 is upper : True
str1 is alpha : False
str2 is alpha : True
str3 is alpha : True
str2 : helloworld
str2 : HELLOWORLD
str3 : HELLOWORLD
str3 : helloworld
str2.title : Hello World
str3 swapcase : gOOD dAY
str2 : Hello World

# Conditional Statements

## Relational Operators :

####  <, >, <=, >=, ==, !=

In [46]:
a = 10 
b = 20
c = 20

print('a > b :',a > b)

print('a < b :',a < b)

print('c <= b :',c <= b)

print('a <= c :',a <= c)

print('b == c :',b == c)

print('a != b :',a != b)

a > b : False
a < b : True
c <= b : True
a <= c : True
b == c : True
a != b : True

# Logical Operators 


## and, or, not

In [51]:
a = 10 
b = 20
c = 30

print(a > b or a < c)

print(a > b or a > c)

print(a < b and a < c)

print(a < b and a > c)

print( not a>b )

True
False
True
False
True

In [54]:
# check whether  a number is positive or not 

x = int(input('Enter the number :'))

if x > 0 :
    print('The number x is positive')
    
print('Program Completed')

Enter the number :10
The number x is positive
Program Completed

In [56]:
# check whether an integer is positive or negative

x = int(input('Enter a non-zero integer:'))

if x > 0 :
    print('The number',x,' is positive')

else:
    print('The number',x, 'is negative')

Enter a non-zero integer:-16
The number -16 is negative

In [59]:
# check whether an integer is even or odd

x = int(input('Entee a positive integer:'))

if x % 2 == 0:
    print('The number',x,' is even')
    
else:
    print('The number',x, 'is odd')

Entee a positive integer:124
The number 124  is even

In [63]:
# check the realtionship between two number x and y 


x = int(input('Enter a number :'))

y = int(input('Enter another number :'))

if x < y :
    print(x,' is less than',y)
    
elif x > y :
    print(x,' is greater than',y)
    
else:
    print(x,' is equal to',y)
    
print('Program Completed')

Enter a number :10
Enter another number :10
10  is equal to 10
Program Completed

In [66]:
# Nested if Statement

x = int(input('Enter the first number :'))

y = int(input('Enter the second number :'))

if x == y:
    print('x and y are equal')
    print(x,'and',y,'are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater then y')

Enter the first number :12
Enter the second number :15
x is less than y

In [70]:
# find a single digit positive interger

x = int(input('Enter an integer:'))

if x > 0:
    if x < 10:
        print('x is a positive single digit number')

Enter an integer:5
x is a positive single digit number

In [74]:
x = int(input('Enter an integer:'))

if x < 10 and x > 0:
    
    print('x is a positive single digit number')

else:
    print('x is not a positive single digit number')

Enter an integer:12
x is not a positive single digit number

In [85]:
# find the type of character that the user enters

ch = input('Enter the character :')

if ch.isalpha():
    print('The character entered is a letter')
    if ch.islower():
        print('The character entered is in lower case')
    elif ch.isupper():
        print('The character entered is in upper case')
        
elif ch.isdigit():
    print('The character entered is a digit')
    
elif ch.isspace():
    print('The character entered is a space')
    
else:
    print('The character entered is not a letter, digit or space')

Enter the character :%
The character entered is not a letter, digit or space

In [94]:
# Accept name of a month, print the number of days in that month

month = input('Enter the name of the month :')

# The months which have 31 days are : Jan, Mar,May,July.Aug,Oct,Dec

# The months which have 30 days are : April,June,Sept,November.

# Feb has either 28 or 29 days

if month == 'January' or month == 'March' or month == 'May' or month == 'July' or month == 'August' or month == 'October' or month == 'December':
        print(month,' has 31 days')
        
elif month == 'April' or month =='June' or month == 'September' or month == 'November':
            print(month,' has 3o days')
elif month == 'February':
            print(month,' has 28 or 29 days')
else:
    print(month,' is invalid')

Enter the name of the month :May
May  has 31 days

In [96]:
# Accept  the name of a month  and display the season

# Summer months : March, April, May,June
# Monsoon months : July, August, September,October
# Winter months : November, December, January,February

month = input('Enter the name of the month :')

if month == 'January' or month == 'February' or month == 'November' or month == 'December':
    print(month,' is Winter Season')
    
elif month == 'March' or month == 'April' or month == 'May' or month == 'June':
    print(month,' is Summer Season')
    
elif month == 'July' or month == 'August' or month == 'September' or month == 'October':
    print(month,' is Monsoon Season')
    
else:
    print('The month is invalid')

Enter the name of the month :October
October  is Monsoon Season

In [99]:
# Find the greatest of three numbers

x = int(input('Enter the x number :'))

y = int(input('Enter the y number :'))

z = int(input('Enter the z number :'))

if x > y  and x > z :
    print('x is the greatest number')

elif y > x and y > z:
    print('y is the greatest number')

else:
    print('z is the greatest number')

Enter the x number :50
Enter the y number :100
Enter the z number :150
z is the greatest number

# Week 3

## Iterative Statements

## 1.While Loop

In [2]:
# print a message five times 

count = 0

while count < 5:
    print('Welcome to Iterative Statements, Count =',count)
    count += 1
    
print('Outside the while statement')

Welcome to Iterative Statements, Count = 0
Welcome to Iterative Statements, Count = 1
Welcome to Iterative Statements, Count = 2
Welcome to Iterative Statements, Count = 3
Welcome to Iterative Statements, Count = 4
Outside the while statement

In [5]:
# Print values from 0 to n 

n = int(input('Enter the value of n :'))

count = 0

while count < n:
    print('count = ',count)
    count += 1

Enter the value of n :10
count =  0
count =  1
count =  2
count =  3
count =  4
count =  5
count =  6
count =  7
count =  8
count =  9

In [7]:
# print values from 1 to n

n = int(input('Enter the value of n :'))

count = 1

while count <= n:
    print('count = ',count)
    count += 1

Enter the value of n :10
count =  1
count =  2
count =  3
count =  4
count =  5
count =  6
count =  7
count =  8
count =  9
count =  10

In [8]:
# print numbers from 0 to 10 with an increment of 2 

count = 0

while count <= 10:
    print('Count =',count)
    count +=2

Count = 0
Count = 2
Count = 4
Count = 6
Count = 8
Count = 10

In [9]:
# Print values from m to n, with an increment of 2 

m = int(input('Enter the starting value of m :'))

n = int(input('Enter the ending value of n :'))

count = m 

while count <=n:
    print('Count =',count)
    count += 2

Enter the starting value of m :10
Enter the ending value of n :20
Count = 10
Count = 12
Count = 14
Count = 16
Count = 18
Count = 20

In [11]:
# Print the numbers 9 to 0 

count = 9

while count >= 0:
    print('Count :',count)
    count -= 1

Count : 9
Count : 8
Count : 7
Count : 6
Count : 5
Count : 4
Count : 3
Count : 2
Count : 1
Count : 0

In [14]:
# Calculate average of n

n = int(input('Enter the value of n :'))

sum = 0 

count = 0

while count < n:
    num = int(input('Enter a value :'))
    sum += num 
    count += 1
    
avg = sum/n

print('The Average of entered numbers is :',avg)

Enter the value of n :5
Enter a value :15
Enter a value :25
Enter a value :356
Enter a value :45
Enter a value :55
The Average of entered numbers is : 99.2

# 2. For Loop

In [18]:
# Print a statement 5 times 

print(range(5))

for i in range(0,5):
    print('Welcome to for loop :',i)

range(0, 5)
Welcome to for loop : 0
Welcome to for loop : 1
Welcome to for loop : 2
Welcome to for loop : 3
Welcome to for loop : 4

In [21]:
# print numbers from 0 to 9

for i in range(0,10):
    print('i =',i)
    
print('Outside the loop')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
Outside the loop

In [22]:
# print numbers from 0 to 10 with an increment of 2

for i in range(0,11,2):
    print('i =',i)

i = 0
i = 2
i = 4
i = 6
i = 8
i = 10

In [25]:
# print numbers from 10 to 1

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [27]:
# Find the average of n numbers using for loop

n = int(input('Enter the value of n :'))

sum = 0

for i in range(0,n):
    num = int(input('Enter a value :'))
    sum += num
    
avg = sum/n

print('Average of the given number :',avg)

Enter the value of n :5
Enter a value :10
Enter a value :15
Enter a value :20
Enter a value :25
Enter a value :30
Average of the given number : 20.0

# 3. Break Statement

In [37]:
# Example of break using while loop

i = 0

print('Before While.....')

while i <= 9:
    print('i = ',i)
    if i == 7:
        break
    i += 1    
print('Outside While Loop')

Before While.....
i =  0
i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
Outside While Loop

In [36]:
# Example of break using for loop

for i in range (0,10):
    print('i =',i)
    if i == 7:
        break
print('Outside of for loop')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
Outside of for loop

# 4.Continue Statement

In [39]:
# Example to demonstrate continue statement

for i in range(0,10):
    if i == 7:
        continue
    print('i =',i)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 8
i = 9

In [46]:
# Example of continue statement with while loop

i = 0
 
while i < 10:
    i += 1
    if i == 7:
        continue
    print('i =',i)

print('Outside of while loop' )

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 8
i = 9
i = 10
Outside of while loop

# 5. Pass Statement

In [48]:
# Example of pass statement

n = int(input('Enter an integer :'))

if n == 10:
    pass

else:
    print('The value entered is not 10')

Enter an integer :1
The value entered is not 10

# 6. Else statement with for loop

In [50]:
# Example

for i in range(0,10):
    print('i =',i)
    if i == 7:
        break
else:
    print('All iterations completed')
    
print('Outside of for loop')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
Outside of for loop

In [51]:
for i in range(0,10):
    print('i =',i)
   # if i == 7:
   #     break
else:
    print('All iterations completed')
    
print('Outside of for loop')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
All iterations completed
Outside of for loop

# Programming examples

In [56]:
# write a program to accept an integer n greater than 10. Then print all the even numbers from 1 to n

n = int(input('Enter an integer greater than 10 :'))

if n > 10:
    for i in range(1,n+1):
        if i % 2 == 0:
            print('The even numbers from 1 to n are :',i)

else:
    print('Invalid value of n.')

Enter an integer greater than 10 :20
The even numbers from 1 to n are : 2
The even numbers from 1 to n are : 4
The even numbers from 1 to n are : 6
The even numbers from 1 to n are : 8
The even numbers from 1 to n are : 10
The even numbers from 1 to n are : 12
The even numbers from 1 to n are : 14
The even numbers from 1 to n are : 16
The even numbers from 1 to n are : 18
The even numbers from 1 to n are : 20

In [59]:
# Write a program to accept a number n. Determine whether the number is prime or not 

n = int(input('Enter an integer n :'))

for i in range(2,n):
    if n % i == 0:
        print('The number ',n,'is not prime')
        break
else:
    print('The number ',n,' is prime')

Enter an integer n :107
The number  107  is prime

In [107]:
n = int(input('Enter an integer n: '))

if n <= 1:
    print('The number', n, 'is not prime')
else:
    for i in range(2, n):
        if n % i == 0:
            print('The number', n, 'is not prime')
            break
    else:
        print('The number', n, 'is prime')

Enter an integer n: 105
The number 105 is not prime

In [106]:
# Write a program to accept a string. Determine whethe the string is palindrom or not
# Example of palindroms are : madam, civic, level

str1 = input('Enter the string :')

rev = str1[::-1]

for i in range(len(str1)):
    if str1[i] != rev[i]:
        print('The string ',str1,' is not a palindrom')
        break
else:
    print('The string ',str1,' is a palindrom')

Enter the string :hello
The string  hello  is not a palindrom
str1 : hello

In [101]:
str1 = input('Enter the string :')

rev = str1[::-1]

if str1 == rev:
        print('The string ',str1,' is a palindrom')
else:
    print('The string ',str1,' is not a palindrom')

Enter the string :hello
The string  hello  is not a palindrom

In [65]:
# write a program to accept a string from the user and count the no of spaces 

str1 = input('Enter a sentence :')

count = 0

for i in str1:
    if i.isspace():
        count += 1
        
print('The no of spaces in the sentence is :',count)

Enter a sentence :Hello Students, We are in week 3 python programming.
The no of spaces in the sentence is : 8

In [66]:
str1 = input('Enter a sentence :')

print('No of spaces in my_string str1 :',str1.count(' '))

Enter a sentence :Hello Team. We Are in Week 3 Python Course
No of spaces in my_string str1 : 8

In [68]:
# Write a program to accept a string. Count and display the no of spaces, lowercase letters,uppercase letter and digits

no_of_spaces = 0

no_of_lower = 0

no_of_upper = 0

no_of_digit = 0

others = 0

str1 = input('Enter the sentence')

for i in str1:
    if i.isspace():
        no_of_spaces += 1
        
    elif i.islower():
        no_of_lower += 1
    elif i.isupper():
        no_of_upper += 1
    elif i.isdigit():
        no_of_digit += 1
    else:
        others += 1
        
print('Number of spaces :',no_of_spaces)

print('Number of lower :',no_of_lower)

print('Number of upper :',no_of_upper)

print('Number of digit :',no_of_digit)

print('Number of others :',others)

Enter the sentenceEnter the sentenceHello Team. Good Morning All. We Are at the Week 3 Python Programming.
Number of spaces : 14
Number of lower : 59
Number of upper : 11
Number of digit : 1
Number of others : 3

In [74]:
# Write a program to find oput whether a multi-word sentence is a palindrom or not 

str1 = input('Enter the sentence :')

str2 = str1.replace(' ','')

rev = str2[::-1]

for i in range(len(str2)):
    if str2[i] != rev[i]:
        print(str1, 'is not a palindrom')
        break
else:
    print(str1, 'is a palindrom')

Enter the sentence :a good day
a good day is not a palindrom
agoodday

In [79]:
# write a program to accept a decimel integer and print its binay equivalent

'''5 = 101
6 = 110
7 = 111
10 = 1010
15 = 1111'''

result = '' # result will hold the binary equivalent number

q = int(input('Enter the number to conver (greater than 0) :'))

while q != 0:
    r = q % 2
    result += str(r)
    q //= 2  
    
result = result[::-1]

print('The binary equivalent of is :',result)

Enter the number to conver (greater than 0) :10
The binary equivalent of is : 1010

In [88]:
result = '' # result will hold the binary equivalent number

q = int(input('Enter the number to conver (greater than 0) :'))

while q != 0:
    r = q % 2
    print(r)
    result += str(r)
    print(result)
    q //= 2  
    print(q)
    
result = result[::-1]

print('The binary equivalent of is :',result)

Enter the number to conver (greater than 0) :10
0
0
5
1
01
2
0
010
1
1
0101
0
The binary equivalent of is : 1010

In [96]:
q = 1

q //= 2

print(q)

s = 1

s % 2

print(s)

0
1

# 8. Console Inputs

In [112]:
# Example 

a, b, c = input('Enter the values of a, b and c :').split()

print(a,' ',b,' ',c)

Enter the values of a, b and c :10 20 30
10   20   30

# 9. Console Output

In [118]:
# Example

a, b, c = input('Enter the values of a, b and c :').split()

print(a,b,c,sep =',',end = '\n') # '' no space it continues the next statement \t' gives a tab and '\n' gives a next line 

print('This is a new statement')

Enter the values of a, b and c :10 20 30
10,20,30
This is a new statement

# 10. Formatted Output

In [130]:
# Example

r, l, b, name = 1.5676, 10.5, 12.66, 'Subash Chandra Bose'

print(f'radius = {r}')

print(f'length = {l}, breadth = {b}, radius = {r}, name = {name}')

for i in name.split():
    print(f'{i:10}')
    
# Format Funstion


name, age, salary = 'Ramesh', 30, 45000 

print('radius = {}, length = {}, breadth = {}'.format(r,l,b))

print('name = {}, age = {}, salary = {}'.format(name,age,salary))

radius = 1.5676
length = 10.5, breadth = 12.66, radius = 1.5676, name = Subash Chandra Bose
Subash
Chandra
Bose
radius = 1.5676, length = 10.5, breadth = 12.66
name = Ramesh, age = 30, salary = 45000

In [136]:
# print in any desired order

print('radius = {2}, length = {1}, breadth = {0}'.format(b,l,r))

print('age = {1}, salary = {2}, name = {0}'.format(name,age,salary))

# print name in 15 coulums and salary in 10 columns 

print('name = {0:15}, salary = {1:10}'.format(name,salary))

# print the radius in 10 coulmns with only 2 decimel spaces

print('radius = {0:10.2f}'.format(r)) #2f decimel values

radius = 1.5676, length = 10.5, breadth = 12.66
age = 30, salary = 45000, name = Ramesh
name = Ramesh         , salary =      45000
radius =       1.57