# Week 4

## Collection Data Types

### 1. List

In [14]:
# Creating a list

l1 = [10,20,30,40]

print(l1)

print('Data Type of l1 :',type(l1))

l2 = ['python', 2.0, 5, [10,20]]

print('The list l2 :',l2)

student = []

print('Student list =',student)

student = ['Ramesh', 'B.Tech', 11007]

print('Student list after modification ;',student)


s = 'Hello World'

# Create  a list from string object

l3 = list(s)

print('String s :',s)

print('List created from s :',l3)

l4 = list()

print('List l4 :',l4)

print('The length of l1, l2, l3, l4 and student lists are :',len(l1), len(l2), len(l3), len(l4), len(student))

[10, 20, 30, 40]
Data Type of l1 : <class 'list'>
The list l2 : ['python', 2.0, 5, [10, 20]]
Student list = []
Student list after modification ; ['Ramesh', 'B.Tech', 11007]
String s : Hello World
List created from s : ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
List l4 : []
The length of l1, l2, l3, l4 and student lists are : 4 4 11 0 3

In [16]:
# Accessing elements from a list

print('The student list is :',student)

print('The second element of the student list :',student[1]) # Indexing

print('The last elemnent in the list is :',student[-1]) # last element

print('The second last element in student list is :',student[-2]) # second last element

The student list is : ['Ramesh', 'B.Tech', 11007]
The second element of the student list : B.Tech
The last elemnent in the list is : 11007
The second last element in student list is : B.Tech

In [7]:
# List Slices 

s = "abcdef"

t = list(s)

print('t =',t)

print('t[1:3] :',t[1:3]) # Starting from 1st index to 2nd index

print('t[:4] :',t[:4]) # starting from 'o' index to 3rd index 

print('t[3:] :',t[3:]) # Starting from 3rd index to complete list

print('t[:] :',t[:]) # Complete list

print('t[::-1]  :',t[::-1]) # Reverse

t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] : ['b', 'c']
t[:4] : ['a', 'b', 'c', 'd']
t[3:] : ['d', 'e', 'f']
t[:] : ['a', 'b', 'c', 'd', 'e', 'f']
t[::-1]  : ['f', 'e', 'd', 'c', 'b', 'a']

In [9]:
# Modifying list elements

print('t =',t)

t[5] = 'z'

print('t =',t)

t[1:3] = ['x', 'y']

print('t =',t)

t1 = [1, 'abc', 2.3]

t2 = ['x', 'y', 123]

t3 = t1 + t2

print('t3 :',t3)

t = ['a', 'x', 'y', 'd', 'e', 'z']
t = ['a', 'x', 'y', 'd', 'e', 'z']
t = ['a', 'x', 'y', 'd', 'e', 'z']
t3 : [1, 'abc', 2.3, 'x', 'y', 123]

## Adding and Removing Elements from a List

In [11]:
# Examples 

print('The list t3 :',t3)

The list t3 : [1, 'abc', 2.3, 'x', 'y', 123]

In [12]:
x = input('Enter Something')

t3.append(x)

print('The list t3 after adding element is :',t3)

Enter Somethingi
The list t3 after  adding element is : [1, 'abc', 2.3, 'x', 'y', 123, 'i']

In [13]:
t3.insert(2,'k')

print('The list t3 after adding inserting k at index 2 :',t3)

The list t3 after adding inserting k at index 2 : [1, 'abc', 'k', 2.3, 'x', 'y', 123, 'i']

In [16]:
t3.remove('abc')

print("After removing 'abc' t3 :",t3)

After removing 'abc' t3 : [1, 'k', 2.3, 'x', 'y', 123, 'i']

In [18]:
t3.pop(2)

print('After removing element at index 2 :',t3)

After removing element at index 2 : [1, 'k', 'y', 123, 'i']

In [19]:
t3.pop()

print('After popping  an element :',t3)

After popping  an element : [1, 'k', 'y', 123]

In [20]:
del t3[1:3]

print('After deleting range of elements :',t3)

After deleting range of elements : [1, 123]

# Other list methods

In [21]:
# clear method

print(t2)

['x', 'y', 123]

In [23]:
t2.clear()

print(t2)

[]

In [24]:
# Copy

t2 = t3.copy()

print('t2 :',t2)

t2 : [1, 123]

In [25]:
t2.append('y')

print('t2 after append of y :',t2)

t2 after append of y : [1, 123, 'y']

In [26]:
# Count

print('Number of occurances of object y is :',t2.count('y'))

Number of occurances of object y is : 1

In [27]:
# Extend

print(t1)

print(t3)

[1, 'abc', 2.3]
[1, 123]

In [28]:
t3.extend(t1)

print('t3 after extendind it with the elements of t1:',t3)

t3 after extendind it with the elements of t1: [1, 123, 1, 'abc', 2.3]

In [30]:
print('The index of 1 in t3 :',t3.index(1))

print('The index of abc in t3 :',t3.index('abc'))

The index of 1 in t3 : 0
The index of abc in t3 : 3

In [32]:
# Reverse

print(t3)

t3.reverse()

print('t3 after reversing the elements :',t3)

[1, 123, 1, 'abc', 2.3]
t3 after reversing the elements : [2.3, 'abc', 1, 123, 1]

In [34]:
t4 = [10,13,5,100,123,567,34]

print('The list of t4 :',t4)

t4.sort()

print('t4 after sorting :',t4)

The list of t4 : [10, 13, 5, 100, 123, 567, 34]
t4 after sorting : [5, 10, 13, 34, 100, 123, 567]

# Iterating over a list

In [38]:
# Example 

names = ['Suresh','Ramesh','Mahesh','Avinash','Anand']

print('The list of names are :',names)

for i in names:
    print('hello '+i)

The list of names are : ['Suresh', 'Ramesh', 'Mahesh', 'Avinash', 'Anand']
hello Suresh
hello Ramesh
hello Mahesh
hello Avinash
hello Anand

In [41]:
name_val = input('Enter a name to search in the name list :')

if name_val in names:
    print('The element ',name_val,' is present is the list')
    
else:
    print('The element ',name_val,' is not present in the list')

Enter a name to search in the name list :Arun
The element  Arun  is not present in the list

# Tuples

In [43]:
# Creating a tuple

tuple1 = (1,3,5,7)

print('The tuple 1 is :',tuple1)

The tuple 1 is : (1, 3, 5, 7)

In [48]:
list1 = [1,2,3,4,5]

print('The list 1 is :',list1)

t1 = tuple(list1)

print('The tuple t1 is :',t1)

print('The data type of list1 and t1 are :',type(list1), type(t1))

The list 1 is : [1, 2, 3, 4, 5]
The tuple t1 is : (1, 2, 3, 4, 5)
The data type of list1 and t1 are : <class 'list'> <class 'tuple'>

In [50]:
# Accessing elements of a tuple

print('tuple1 :',tuple1)

print('tuple[0] :',tuple1[0])

print('tuple[3] :',tuple1[3])

print('The length of tuple1 :',len(tuple1))

tuple1 : (1, 3, 5, 7)
tuple[0] : 1
tuple[3] : 7
The length of tuple1 : 4

## Tuple Operations

In [52]:
# Example

tup2 = (1,'John',True,-23.45)

for i in tup2:
    print(i)
    
if 'John' in tup2:
    print('John is present')

1
John
True
-23.45
John is present

In [55]:
# Nested Tuple

tup1 = (1,3,5,7)

tup2 = ('Ramesh','Suresh','Dinesh','Mahesh')

print('tuple1 :',tup1)

print('tuple2 :',tup2)

tup3 = (42, tup1,tup2,5.5)

print('tuple3 :',tup3)

print('tuple3[2] :',tup3[2])

print('tuple3[2][1]:',tup3[2][1]) # Index

tuple1 : (1, 3, 5, 7)
tuple2 : ('Ramesh', 'Suresh', 'Dinesh', 'Mahesh')
tuple3 : (42, (1, 3, 5, 7), ('Ramesh', 'Suresh', 'Dinesh', 'Mahesh'), 5.5)
tuple3[2] : ('Ramesh', 'Suresh', 'Dinesh', 'Mahesh')
tuple3[2][1]: Suresh

In [56]:
# Comparing Tuples

(0,1,200000) < (0,3,5)

True

# Sets

In [58]:
# Example

s1 = {1,'abc',2.334}

s2 = set()

print('s1 is :',s1)

print('s2 is :',s2)

l1 = [1,2,3,4]

s3 = set(l1)

print('s3 is :',s3)

s1 is : {1, 2.334, 'abc'}
s2 is : set()
s3 is : {1, 2, 3, 4}

In [67]:
basket = {'apple','orange','pear','kiwi','banana','apple'}

print(basket)

for i in basket:  # only unique values are printed
    print(i)
    
if 'apple' in basket:
    print('apple is present')

{'orange', 'apple', 'banana', 'kiwi', 'pear'}
orange
apple
banana
kiwi
pear
apple is present

In [70]:
basket.add('fig')

basket.update(['grapes','carrot'])

print(basket)

{'orange', 'apple', 'banana', 'carrot', 'grapes', 'kiwi', 'pear', 'fig'}

In [71]:
print('Number of items present in basket :',len(basket))

Number of items present in basket : 8

In [73]:
s1 = {12,24,34,2,5,56,78}

print('The max and min values in s1 are :',max(s1),min(s1))

The max and min values in s1 are : 78 2

In [78]:
print(basket)

basket.remove('apple')

print('basket after removing apple is :',basket)

{'orange', 'apple', 'banana', 'carrot', 'grapes', 'kiwi', 'pear', 'fig'}
basket after removing apple is : {'orange', 'banana', 'carrot', 'grapes', 'kiwi', 'pear', 'fig'}

In [81]:
s3 = {'abc',(1,2,3)} # only tuple is allowed to nest inside set.

print('s3 is :',s3)

s3 is : {'abc', (1, 2, 3)}

# Mathematical set opeartions

In [84]:
# Example

s1 = {'apple','orange','banana'}

s2 = {'grapefruit','lime','banana'}

print('s1 is :',s1)

print('s2 is :',s2)

print('Union :',s1 | s2)

print('Intersection :',s1 & s2)

print('Difference :',s1 - s2)

print('Symmetric_difference :',s1 ^ s2)

s1 is : {'orange', 'apple', 'banana'}
s2 is : {'banana', 'lime', 'grapefruit'}
Union : {'orange', 'apple', 'lime', 'banana', 'grapefruit'}
Intersection : {'banana'}
Difference : {'orange', 'apple'}
Symmetric_difference : {'orange', 'apple', 'lime', 'grapefruit'}

In [85]:
print('Union : ',s1.union(s2))

print('Intersection : ',s1.intersection(s2))

print('Difference : ',s1.difference(s2))

print('Symmetric_Difference : ',s1.symmetric_difference(s2))

Union :  {'orange', 'apple', 'lime', 'banana', 'grapefruit'}
Intersection :  {'banana'}
Difference :  {'orange', 'apple'}
Symmetric_Difference :  {'orange', 'apple', 'lime', 'grapefruit'}

# Dictionary

In [113]:
# Creating Dictionary called capitals

capitals = {'Telangana':'Hyd','Tamilnadu':'Ch','Karnataka':'Ben','Maharastra':'Mum','Andhra Pradesh':'Hyd'}

print('Capitals :',capitals)

Capitals : {'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum', 'Andhra Pradesh': 'Hyd'}

In [89]:
# Creating dictionary from other collection types


# from strings

dict1 = dict(uk = 'London', ireland = 'Dublin', france = 'Paris')

print('dict1 :',dict1)

# from list of tuples

dict2 = dict([('uk','london'),('ireland','dublin'),('france','paris')])

print('dict2 :',dict2)

# from tuple of lists

dict3 = dict((['uk','london'],['ireland','dublin'],['france','paris']))

print('dict3 :',dict3)

dict1 : {'uk': 'London', 'ireland': 'Dublin', 'france': 'Paris'}
dict2 : {'uk': 'london', 'ireland': 'dublin', 'france': 'paris'}
dict3 : {'uk': 'london', 'ireland': 'dublin', 'france': 'paris'}

In [91]:
# Accessing Elements in the dictionary

print('The capitals of dictionary :',capitals)

print('The capital of Telangana :',capitals['Telangana'])

The capitals of dictionary : {'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum'}
The capital of Telangana : Hyd
The modified capitals dictionary: {'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum', 'Kerala': 'Trivandrum'}

In [ ]:
# Adding New Key:Value pair to the dictionary

capitals['Kerala'] = 'Trivandrum'

print('The modified capitals dictionary:',capitals)

In [93]:
# Modifying an existing element

capitals['Andhra Pradesh'] = 'Amaravathi'

print('The modified capitals is :',capitals)

The modified capitals is : {'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum', 'Andhra Pradesh': 'Amaravathi'}

In [94]:
# in and not in operators

print('Assam' in capitals)

print('Odisa' not in capitals)

False
True

In [95]:
# Length

print('The length of the disctionary :',len(capitals))

The length of the disctionary : 5

In [96]:
# Removing items from dictionary

print(capitals)

{'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum', 'Andhra Pradesh': 'Amaravathi'}

In [100]:
# popitem

print('The last item inserted, which is deleted by popitem :',capitals.popitem())

The last item inserted, which is deleted by popitem : ('Maharastra', 'Mum')

In [99]:
print(capitals)

{'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum'}

In [109]:
# delete

print('The capital of maharastra is :',capitals.pop('Maharastra'))

The capital of maharastra is : Mum

In [110]:
print(capitals)

{'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Andhra Pradesh': 'Hyd'}

In [111]:
del capitals['Karnataka']

print(capitals)

{'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Andhra Pradesh': 'Hyd'}

In [112]:
capitals.clear()

print(capitals)

{}

In [119]:
# Itereate over keys and values

print(capitals)

for state in capitals:
    print(state,end = ',')
    print(capitals[state])

for cap in capitals:
    print(cap)
    
for cap in capitals.values():
    print(cap)

{'Telangana': 'Hyd', 'Tamilnadu': 'Ch', 'Karnataka': 'Ben', 'Maharastra': 'Mum', 'Andhra Pradesh': 'Hyd'}
Telangana,Hyd
Tamilnadu,Ch
Karnataka,Ben
Maharastra,Mum
Andhra Pradesh,Hyd
Telangana
Tamilnadu
Karnataka
Maharastra
Andhra Pradesh
Hyd
Ch
Ben
Mum
Hyd

In [120]:
# View

print(capitals.values())

print(capitals.keys())

print(capitals.items())

dict_values(['Hyd', 'Ch', 'Ben', 'Mum', 'Hyd'])
dict_keys(['Telangana', 'Tamilnadu', 'Karnataka', 'Maharastra', 'Andhra Pradesh'])
dict_items([('Telangana', 'Hyd'), ('Tamilnadu', 'Ch'), ('Karnataka', 'Ben'), ('Maharastra', 'Mum'), ('Andhra Pradesh', 'Hyd')])

In [123]:
# Nested Dictionary

seasons = {'Spring':('Mar','Apr','May'),
         'Summer':('June','July','Aug'),
         'Autumn':('Sept','Oct','Nov'),
         'Winter':('Dec','Jan','Feb')}

print(seasons)

{'Spring': ('Mar', 'Apr', 'May'), 'Summer': ('June', 'July', 'Aug'), 'Autumn': ('Sept', 'Oct', 'Nov'), 'Winter': ('Dec', 'Jan', 'Feb')}
('Sept', 'Oct', 'Nov')

In [124]:
print(seasons['Autumn'])

print(seasons['Autumn'][2])

('Sept', 'Oct', 'Nov')
Nov

In [126]:
# Implement a Histogram to count a numbers of letters in a sentence

sentence = input('Enter the sentence :')

d = dict()

for c in sentence:
    if c not in d:
        d[c] = 1
        
    else:
        d[c] += 1
        
print('The Histogram :',d)

Enter the sentence :The collection python are list, tuple, set and dictionary
The Histogram : {'T': 1, 'h': 2, 'e': 5, ' ': 8, 'c': 3, 'o': 4, 'l': 4, 't': 6, 'i': 4, 'n': 4, 'p': 2, 'y': 2, 'a': 3, 'r': 2, 's': 2, ',': 2, 'u': 1, 'd': 2}

In [131]:
counts = dict()

line = input('Enter the sentence :')

words = line.split()

print(words)

for word in words:
    if word not in counts:
        counts[word] = 1
    else:
        counts[word] += 1

print('The frequency of each word in the given sentence is :',counts)

Enter the sentence :Hi Arun, Hi Prakash, Hi Mahesh, Arun Developer, Prakash Engineer Mahesh Engineer
['Hi', 'Arun,', 'Hi', 'Prakash,', 'Hi', 'Mahesh,', 'Arun', 'Developer,', 'Prakash', 'Engineer', 'Mahesh', 'Engineer']
The frequency of each word in the given sentence is : {'Hi': 3, 'Arun,': 1, 'Prakash,': 1, 'Mahesh,': 1, 'Arun': 1, 'Developer,': 1, 'Prakash': 1, 'Engineer': 2, 'Mahesh': 1}

# Week 5

# Functions

## Buit-in-functions

In [3]:
# Example

list1 = [23,45,64,32,14,677,8321,12464]

print('The list1 is  :',list1)

print('The max element of the list1 is :',max(list1))

print('The min element of the list1 is :',min(list1))

print('The lenght of list1 is :',len(list1))

print('The type of list1 is ;',type(list1))

The list1 is  : [23, 45, 64, 32, 14, 677, 8321, 12464]
The max element of the list1 is : 12464
The min element of the list1 is : 14
The lenght of list1 is : 8
The type of list1 is ; <class 'list'>

In [6]:
a = 32.0

b = int(a)

c = str(a)

print('a, b, c :',a,b,c)

print('The type of a,b,c is :',type(a),type(b),type(c))

a, b, c : 32.0 32 32.0
The type of a,b,c is : <class 'float'> <class 'int'> <class 'str'>

In [8]:
# Math Funtions

import math

n = int(input('Enter a number to find  the square root :'))

print('The  square root of ',n,' is :',math.sqrt(n))

Enter a number to find  the square root :25
The  square root of  25  is : 5.0

In [13]:
# Random Module

import random

print('A random number between 0.0 and 1.0 :',random.random())

print('Select random number from the certain range :',random.randint(5,10))

A random number between 0.0 and 1.0 : 0.18513713511034424
Select random number from the certain range : 6

In [14]:
low = int(input('Enter the low value :'))

high = int(input('Enter the high value :'))

print('A random number between the low and high value :',random .randint(low,high))

Enter the low value :10
Enter the high value :100
A random number between the low and high value : 85

In [16]:
t = (1,2,3,4,5,6,7,8,9,10,100)

print('The tuple t is :',t)

print('The random item from the tuple t is :',random.choice(t))

The tuple t is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100)
The random item from the tuple t is : 7

# User-Defined Functions

In [19]:
# Example

def display_msg():    # Function Definition
    print('Hello World !')
    
display_msg()  # Function Calling

print('The is after the functiuon call :')

display_msg()

Hello World !
The is after the functiuon call :
Hello World !

In [21]:
# Docstring

def display_msg():    # Function Definition
    
    ''' This function display a hello world message.....'''
    print('Hello World !')
    
display_msg()  # Function Calling

print('The is after the functiuon call :')

display_msg()

print('The description  of display_msg function is :',display_msg.__doc__)

Hello World !
The is after the functiuon call :
Hello World !
The description  of display_msg function is :  This function display a hello world message.....

In [24]:
# Functions  which take argument as a parameter

def display_msg(msg):
    print('The message received is :',msg)
    
display_msg('Hello Students')
display_msg('Good Morning')

The message received is : Hello Students
The message received is : Good Morning

In [28]:
# Function with return statement

def square(n):
    result = n * n
    return result

square(5) # output

sqr = square(25)

print('The return value is :',sqr)

print('The square of 345 is :',square(345))

The return value is : 625
The square of 345 is : 119025

In [29]:
# Functions to return the sum of two numbers

def sum_of_two(x,y):
    return x + y 

res = sum_of_two(245,345)

print('The result is :',res)

The result is : 590

In [34]:
# Default Parameter

def greeter(name, prompt='Welcome', msg ='to Python Programming'):
            print(name,prompt,msg)
            
greeter('Yugi')

greeter('Yugi',msg = 'World')

greeter(msg = 'Welcome', name = 'Yugi', prompt = 'Hello')

Yugi Welcome to Python Programming
Yugi Welcome World
Yugi Hello Welcome

In [36]:
# Arbitrary Positional Arguements 

def greeter(*args):
    for name in args:
        print('Welcome ',name)

greeter('Ramesh','Mahesh','Suresh','Dinesh')

greeter('Ramesh','Mahesh','Suresh')

Welcome  Ramesh
Welcome  Mahesh
Welcome  Suresh
Welcome  Dinesh
Welcome  Ramesh
Welcome  Mahesh
Welcome  Suresh

In [37]:
# Positional and Keyword Arguments

def my_function(*args, **kwargs):
    for arg in args:
        print('args :',arg)
        
    for key in kwargs.keys():
        print('Key :',key,' has value :',kwargs[key])
        
my_function('Ramesh','Mahesh',son = 'Dinesh', daughter = 'Alice')

args : Ramesh
args : Mahesh
Key : son  has value : Dinesh
Key : daughter  has value : Alice

In [42]:
my_function('Ramesh','Alice',son_number_one = 'Andrew',son_number_two = 'James',daughter = 'Joselyn')

args : Ramesh
args : Alice
Key : son_number_one  has value : Andrew
Key : son_number_two  has value : James
Key : daughter  has value : Joselyn

In [44]:
# Function with only kwargs

def named(**kwargs):
    for key in kwargs.keys():
        print('arg :',key,' has value :',kwargs[key])

named(a=1, b=2, c=3, d=4)

arg : a  has value : 1
arg : b  has value : 2
arg : c  has value : 3
arg : d  has value : 4

In [48]:
# Global & Local Variable

def my_function():
    a_variable = 100 # Local_Variable
    print(a_variable)
    
my_function()

100

In [50]:
# Global Variables

a_var = 200 # Global Variable

def my_func():
    a_var = 100 # Local Variable
    print('The value of a_var is :',a_var) # print the value of local a_var
    
my_func()

print('The value of a_var outside my_func is :',a_var) # prints the value of global a_var

The value of a_var is : 100
The value of a_var outside my_func is : 200

In [55]:
# Access a global variable from within a function

x = 200

def my_func1():
    
    global x
    
    x = x + 1
    print('The value of after increment is :',x)
    
my_func1()

print('The value of x outside my_func1 is :',x)

The value of after increment is : 201
The value of x outside my_func1 is : 201

In [57]:
# Function within a function - non local variable

def func1(): # Outer Function
    x = 100  # Local vaiable to func1
    print('x in func1 is :',x)
    
    def func2(): # inner Function
        nonlocal x # 
        x = x + 1
        print('x in func2 is :',x)
        
    func2()
    print('The value of x after call to func2 :',x)
    
func1()

x in func1 is : 100
x in func2 is : 101
The value of x after call to func2 : 101

In [ ]:
# Recursion

# Example : 5! = 5 * 4 * 3 * 2 * 1 

# 5! = 5 * 4!,   4! = 4 * 3!,   3! = 3 * 2!,    2! = 2 * 1!,   1! = 1 * 0!,  0! = 1

In [58]:
# Factorial of a number using recursion

def fact(x):
    if x <= 1:
        return 1
    else:
        return x * fact(x-1)
    
n = int(input('Enter the number :'))

print('The factorial of ',n, ' is :',fact(n))

Enter the number :5
The factorial of  5  is : 120

In [59]:
# Anonymous functions / lambda functions 

square = lambda i : i * i 

print(square(5))

25

In [62]:
func0 = lambda : print('Lambda function with no arguements')

func1 = lambda x : x * x

func2 = lambda x, y: x * y

func3 = lambda x, y, z : x + y + z

func0()

print(func1(5))

print(func2(2,3))

print(func3(4,5,6))

Lambda function with no arguements
25
6
15

In [2]:
# Higher order functions 

def apply(x,function):
    result = function(x)
    return result

def square(n):
    return n * n

print(apply(10,square))

100

In [5]:
# Functions which return function as return value

def make_checker(s):
    if s =='even':
        return lambda n : n % 2 == 0
    elif s == 'positive':
        return lambda n : n >= 0
    elif s == 'negative':
        return lambda n : n <= 0
    
f1 = make_checker('even')

f2 = make_checker('positive')

f3 = make_checker('negative')

print('f1(3) =',f1(3))

print('f2(3) =',f2(3))

print('f3(3) =',f3(3))

f1(3) = False
f2(3) = True
f3(3) = False

In [7]:
# Filter Function

data = [1,2,3,4,5,6,7,8,9,10]

print('data :',data)

def is_even(i):
    return i % 2 == 0

# Filter for even numbers

even_data = list(filter(is_even, data))

print('The filtered data is :',even_data)

data : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The filtered data is : [2, 4, 6, 8, 10]

In [4]:
# Map Function

data = [1,2,3,4,5,6,7,8,9,10]

print('Data :',data)

# Apply the lambda function to each element in the list using map fucntion

d1 = list(map(lambda i : i + 1, data))

print('The result of the map opeartion :',d1)

Data : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The result of the map opeartion : [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
data1 = [1,2,5,7]

data2 = [2,4,6,8]

result = list(map(lambda x,y : x + y, data1,data2))

print('The result of map opeartion is :',result)

The result of map opeartion is : [3, 6, 11, 15]

In [8]:
data = [1,2,3,4,5,6,7,8,9,10]

print('date :',data)

def square(n):
    return n * n

result = list(map(square,data))

print('Result is :',result)

date : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Result is : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
# Reduce  Function

from functools import reduce

data = [1,2,3,4,5]

result = reduce(lambda total, value : total + value, data)

print('The result of applying the reduce operation is :',result)

result2 = reduce(lambda total, value: total * value, data)

print('The result of multiplication operation is :',result2)

The result of applying the reduce operation is : 15
The result of multiplication operation is : 120